[Desktop Entry]
Name=Wallpaper_Picker
Exec=$HOME/.local/bin/Wallpaper_Picker
Icon=media-playlist-shuffle
StartupWMClass=Wallpaper Picker
Type=Application
Terminal=false
Categories=Utility
