[Unit]
Description=Schedule for wallpaper swap

[Timer]
# runs at exactly 00:00:00 every day
OnCalendar=daily
# runs ASAP if task was missed
Persistent=true
Unit=wallpaper-swap.service

[Install]
WantedBy=timers.target
